altgraph==0.17.3
macholib==1.16.2
numpy==1.24.3
opencv-python==4.7.0.72
Pillow==9.5.0
plyer==2.1.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pynput==1.7.6
pyobjc-core==9.1.1
pyobjc-framework-ApplicationServices==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-Quartz==9.1.1
six==1.16.0
